[listbox] {
  padding: 0;
  margin: 4px;
}

[option] {
  display: grid;
  grid-template-columns: 30px auto;
  padding: 0 4px;
}

.command-target {
  box-shadow: -6px 0 0 0px rgba(250, 100, 0);
}

.active {
  background: rgba(0, 0, 0, 0.1);
}

[listbox]:focus-within .active {
  background: rgba(0, 0, 255, 0.15);
}

[listbox][disabled] {
  background: rgba(0, 0, 0, 0.05);
}

[option][disabled] {
  opacity: 0.5;
}

[aria-selected="true"],
[listbox]:focus-within [aria-selected="true"] {
  color: blue;
  font-weight: bold;

  &::marker {
    color: blue;
  }
}
